:root {
    --body-color: whitesmoke; 
    --black: black;
    --grey: lightgrey; 
}

body {
    width: 100vw; 
    height: 100vh; 

    overflow: auto; 
    position: absolute;

    padding: 0; 
    margin: 0; 

    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

main {
    border: 3px solid var(--black); 
    border-radius: 10px; 

    background-color: var(--body-color);
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER*/ 

#header {
    border-bottom: 2px solid var(--grey); 
    padding: 8px 10px; 

    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

#logo {
    font-family: 'Grand Hotel', sans-serif; 
    font-size: 2.25rem; 

    margin: 0; 
}

#account-avatar {
    width: 40px; 
    height: 40px; 

    border-radius: 50px; 
    margin: 0 4px 0 0; 
}

/* TOP TOP TOP TOP TOP TOP TOP TOP TOP TOP TOP TOP TOP TOP TOP TOP TOP*/

.top {
    height: 50px; 

    font-size: 0.8rem; 
    padding: 5px 0; 

    display: flex; 
    align-items: center; 

}

.avatar {
    width: 40px; 
    height: 40px; 

    border-radius: 50px;
    margin: 0 5px 0 10px; 
}

.post-details {
    height: 40px; 

    margin: 0 0 0 5px; 
    padding: 0; 

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    
}

.name {
    font-size: 0.8125rem; 
    margin: 0 0 1px 0; 
}

.location { 
    font-size: 0.6875rem; 
    margin: 0; 
}

/* POST POST POST POST POST POST POST POST POST POST POST POST POST */

.post {
    height: 300px; 
}

/* BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BUTTOM */

.bottom {
    font-size: 0.8rem; 
}

.all-icons {
    margin: 12.5px 0 0 10px; 
}

.self-icons {
    height: 26.412px; 
    width: 25.035px; 

    margin: 0px 3px; 
}

.post-likes {
    margin: 7px 0 7px 10px; 
}

.post-description {
    margin: 0 0 17px 10px; 
}

.comment {
    margin: 0 5px; 
}

.self-icons:hover {
    background-color: var(--grey);  
}